<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListAllEmployeeController</servlet-name>
        <servlet-class>controller.employee.ListAllEmployeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllDepartments</servlet-name>
        <servlet-class>controller.department.ListAllDepartments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeController</servlet-name>
        <servlet-class>controller.employee.AddEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeController</servlet-name>
        <servlet-class>controller.employee.EditEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployeeController</servlet-name>
        <servlet-class>controller.employee.ViewEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <servlet-class>controller.employee.DeleteEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepartmentController</servlet-name>
        <servlet-class>controller.department.AddDepartmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAllEmployeeController</servlet-name>
        <url-pattern>/employee/listAllEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllDepartments</servlet-name>
        <url-pattern>/department/listAllDepartments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeController</servlet-name>
        <url-pattern>/employee/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeController</servlet-name>
        <url-pattern>/employee/editEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployeeController</servlet-name>
        <url-pattern>/employee/viewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <url-pattern>/employee/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepartmentController</servlet-name>
        <url-pattern>/department/addDepartment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
